.clear { clear: both; height: 0; }

.container {
  width: 950px;
  margin: 0 auto;
  color: #000000;
}

body {
    clear: both;
	width: 100%;
	margin: 0 auto;
	background: url(../images/wooden_bg.gif) center top repeat;
}

/* Links */
a {
  color: #09c;
  text-decoration: none;
}
a:hover {
  color: #069;
  text-decoration: underline;
}
a:visited {
  color: #069;
}

/* User show page */
table.profile {
  width: 100%;
  margin-bottom: 0;
}
td.main {
  width: 70%;
  padding: 1em;
}
td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Global styles */
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0 ;
  font: bold smaller sans-serif;
}
/* Styles for products/index */
#product-list .list-title {
         color: #244 ;
         font-weight: bold;
         font-size: larger;
}
#product-list .list-image {
  width:         60px;
  height:        70px;
}

#product-list .list-actions {
  font-size:     x-small;
  text-align:    right;
  padding-left: 1em;
}

#product-list .list-line-even {
  background: #e0f8f8 ;
}

#product-list .list-line-odd {
  background: #f8b0f8 ;
}

/* Styles for main page */

#main {
  float: left;
  width: 75%;
  padding-top: 4ex;
  padding: 2em 2em;
  background: white;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}
#side {
  float: right;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 14em;
  background: #141 ;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}
#side a {
  color: #bfb ;
  font-size: small;
}

h1 {
  font: 150% sans-serif;
  color: #226 ;
  border-bottom: 3px dotted #77d ;
}

/* An entry in the store catalog */
#store .entry {
  border-bottom: 2px dotted #77d ;
  padding-bottom: 1em;
}
#store .title {
  font-size: 120%;
  font-family: sans-serif;
}
#store .entry img {
  width: 80px;
  float: left;
 padding-right: 1em;
 padding-bottom: 1em;
}
#store .entry h3 {
 margin-bottom: 2px;
 color: #227 ;
}
#store .entry p {
 margin-top: 0px;
 margin-bottom: 0.8em;
}
#store .entry .price-line {
}
#store .entry .add-to-cart {
  position: relative;
}
#store .entry .price {
  color: #44a ;
  font-weight: bold;
  margin-right: 1em;
}
  #store .entry form, #store .entry form div {
     display: inline;
  }
/* Styles for the cart in the main page and the sidebar */
.cart-title {
  font: 120% bold;
}
.item-price, .total-line {
  text-align: right;
}
.total-line .total-cell {
  font-weight: bold;
  border-top: 1px solid #595 ;
}
/* Styles for the cart in the sidebar */
#cart, #cart table {
  font-size: smaller;
  color:       white;
}
#cart table {
  border-top: 1px dotted #595 ;
  border-bottom: 1px dotted #595 ;
  margin-bottom: 10px;
}
/* Styles for order form */
.depot-form fieldset {
  background: #efe ;
}
.depot-form legend {
  color: #dfd ;
  background: #141 ;
  font-family: sans-serif;
  padding: 0.2em 1em;
}
.depot-form label {
  width: 5em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}
.depot-form .submit {
  margin-left: 5.5em;
}
/* The error box */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0 ;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00 ;
  color: #fff ;
}
#errorExplanation p {
  color: #333 ;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* form sign-up user */
div.field, div.actions {
  margin-bottom: 10px;
}

  fieldWithErrors {
   padding: 2px;
   background-color: red;
   display: table;
}
.fieldWithErrors label {
   color: #fff;
}
#errorExplanation {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom: 20px;
   background-color: #f0f0f0;
}
#errorExplanation h2 {
   text-align: left;
   font-weight: bold;
   padding: 5px 5px 5px 15px;
   font-size: 12px;
   margin: -7px;
   background-color: #c00;
   color: #fff;
}
#errorExplanation p {
   color: #333;
   margin-bottom: 0;
   padding: 5px;
}
#errorExplanation ul li {
   font-size: 12px;
   list-style: square;
}



.main_tabnav {
width: 950px;
height: 65px;
background:	url(../images/menu_bg.png) no-repeat;
padding: 0 30px;
z-index: 1;
margin: 0 auto;
clear: both;
}

.main_tabnav ul {
margin: 0;
padding: 10px 0 0 0;
}

.main_tabnav li {
display: inline;
padding: 0;
margin: 0px;
}

.main_tabnav li.secondary {
float: right;
}

.main_tabnav li a {
    color: #ebebeb;
    text-decoration: none;
    float: left;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    background: url(../images/menu_divider.jpg) right repeat-y;
    outline: none;
    display: block;
	width: 100px;
	padding: 3px 2px 3px 0;
}

.main_tabnav li a.active {
color: #ebebeb;
font-weight: bold;
}

.main_tabnav li a:hover {
color: #A0A0A0;
}

.main_tabnav li a.active:hover {
color: #303030;
}

.main_tabnav li a.active:visited {
color:  #303030;
}

.main_tabnav_content {
  padding-top: 15px;
}

#main_tabnav_berita {
	float: left;
	width: 60%;
	padding: 15px 15px 15px;  
	background-color: #fff;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
}

#main_tabnav_berita .block .content {
  background: #FFF;
  padding-top: 1px;
}

#main_tabnav_berita .block .content h2 {
  margin-left: 15px;
}


#tabnav_sidebar {
	float: right;
	width: 30%;
}

#tabnav_sidebar h3 {  
  padding: 10px 15px;
  margin: 0;
  font-size: 13px;
  background: #ff7900;
  color: #FFF;
  border-bottom: 10px solid #262626;
}

#tabnav_sidebar .block {
  margin-bottom: 20px;
  background: #FFF;
}

#tabnav_sidebar .block .content {
  padding: 0 0px;
  overflow : hidden;
}

#tabnav_sidebar ul.navigation li a:link, #tabnav_sidebar ul.navigation li a:visited {
  display: block;
  padding: 10px 15px;
}

#tabnav_sidebar .block .tabnav_sidebar-block, #tabnav_sidebar .notice {
  padding:10px;
}

#tabnav_sidebar ul li a:link, #tabnav_sidebar ul li a:visited {
  background: #FFF;
  border-bottom: 1px solid #F0F0EE;
  text-decoration: none;
}

#tabnav_sidebar ul li a:hover, #tabnav_sidebar ul li a:active {
  background: #863800;
  color: #FFF;
}

/* rounded */
#main, #main-tabnav, #main-tabnav_berita li, #main .block, #tabnav_sidebar .block, #tabnav_sidebar h3, ul.list li {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}

#tabnav_sidebar, #tabnav_sidebar .block, #main_tabnav_berita .block, #tabnav_sidebar ul.navigation, ul.list li {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

img.iklan {
	width: 200px;
    padding: 15px 15px 15px;  
	height: auto;
}
