
  <div id="main_tabnav_berita">
    <h2>E-Marketing PPIKM</h2>
    <h1>(Pusat Promosi Industri Kayu dan Meubel)</h1>

        <% tableize @products,
          :header => 'Katalog',
          :generate_css => 'true' do |product| %>

          <div class="entry">
             <h3><%=h product.title %></h3>
            <%= image_tag(product.image_url) %>

                <span class="price"><%= number_to_currency(product.price, :unit => "Rp.",
                                                                      :separator => ",",
                                                                      :delimiter => ".")%>
                </span></div>
        <% end %>
  </div>

  <div id="tabnav_sidebar">
        <div class="block">
          <h3>Lokasi Gedung PPIKM</h3>
          <div class="content">
            <%= @map.div(:width => 300, :height => 250) %>
          </div>
        </div>

        <div class="block">
          <h3>Sponsor</h3>
          <div class="content">
            <p><img src="images/logokikm.jpg" class="iklan"></p>
          </div>
        </div>
  </div>


