    <h1>E-Marketing PPIKM (Pusat Promosi Industri Kayu dan Meubel)</h1>
    <p>
        Silahkan cari meubel dan firniture yang anda inginkan
        <a href="">Katalog Produk</a>
    </p>
    
    <%= link_to "sign up now!", '#', :class => "signup_button round" %>
