<p>
  <b>Title:</b>
  <%=h @berita.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @berita.content %>
</p>

<% if permitted_to? :edit, @berita %>   
  <%= link_to 'Edit', edit_berita_path(@berita) %> |
<%end%>
<%= link_to 'Back', beritas_path %>
