    <h1>About E-Marketing PPIKM (Pusat Promosi Industri Kayu dan Meubel)</h1>
    <p>
       E-Marketing PPIKM dikelola oleh <a href="">KIKM</a> (Koperasi Industri Kayu dan Meubel)
    </p>

       <address>
       sekretariat : Gedung PPIKM Lt.2<br/>
                     RW.03 Kelurahan Jatinegara Kaum, Kecamatan Pulo Gadung<br/>
                     Jakarta Timur, 13250<br/>
       </address>

