<h1>Katalog Produk</h1>

<% tableize @products,
  :header => 'Katalog',
  :generate_css => 'true' do |product| %>

  <div class="entry">
     <h3><%=h product.title %></h3>
     <% tooltip image_tag(product.image_url) do %>
      <%=h truncate(product.description.gsub(/<.*?>/,''), 100) %>
     <% end %>
       <div class="price-line">
        <span class="price"><%= number_to_currency(product.price, :unit => "Rp.",
                                                              :separator => ",",
                                                              :delimiter => ".")%>
        </span></div>
        <% form_remote_tag :url => { :action => 'add_to_cart', :id => product } do %>
        <%= submit_tag "Add to Cart" %>

    <% end %>
<% end %>

